@tailwind base;
@tailwind components;
@tailwind utilities;

.color1 {
  color: #FF70A3;
}



a {
  transition: .2s ease-in-out;
  font-weight: 500;
}

a:hover {
  color: #FF70A3;
}

.hire {
  background-color: #FF70A3;
  color: white;

}

.hire:hover {
  background-color: #f387ad;
  color: white;
}

img {
  mix-blend-mode: multiply;
}

footer {
  background-color: #ff70a2f8;
  color: white;
  width: 100%;
  backdrop-filter: blur(5px);
  position: sticky;
  bottom: 0;
}